{{define "page:title"}}Password reset successful{{end}}

{{define "page:meta"}}
<meta name="page" content="password-reset-confirmation">
{{end}}

{{define "page:main"}}
<h2>Password reset successful</h2>
<p>Please <a href="/login">login</a>.</p>
{{end}}
